<div class="container">
    <%= link_to 'Go to Home', root_path %>
    <h1 align="center">Twitter Search </h1>
    <div class="row">    
        <div class="col-xs-8 col-xs-offset-2 col-12">
            <div class="">
                <%= form_tag search_path, class: "form-inline" do %>
                    <div class="form-group">
                        <%= text_field_tag :seach_text, "", class: "form-control", placeholder: "Search term..." %>
                        <%= submit_tag " SEARCH ", class: "btn btn-default glyphicon glyphicon-search" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <% if @result.present? %>
        <div class="container row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>Who tweeted </th>
                        <th>Tweet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @result.each.with_index do |r, idx| %>
                            <tr>
                            <td><%= idx + 1 %></td>
                            <td><%= r.user.name %></td>
                            <% require 'rails_autolink' %>
                            <% text = (r.attrs[:retweeted_status][:text] rescue r.text) %>
                            <td><%= auto_link(text) %></td>
                            </tr>
                        <% end %>        
                    </tbody>
                </table>
            </div>
        </div>
    <% end %>    
</div>    